// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  font-family:"Courier New", Courier, monospace !important;
}

/* small - medium screens */
@media (max-width:916px) {

  h2, h4 {
    font-size: 1.3em;
  }

  p, li {
    font-size: 1em;
  }



  /* picture */
  #drpedro {
    border-radius: 5px;
    float:left;
    height: 10em;
    width: 8em;
  }

  #main-heading {
    text-align: center;
  }

  /* intro paragraph */
  #intro {
    width: 85vw;
    position: relative;
    left: 4.25vw;
    top: 1.5vw;
  }

  /*div for drpedro pic and intro paragraph */
  #part1 {
    height: 35em !important;
    opacity: 0;
    border-bottom: 5px solid black;
    position: relative;
    top: 1vw;
  }

  #symbol-div {
    margin-top: 3vw;
    margin-left: 3vw;
    text-align: center;
    display: block;
  }

  /* types of chinese medicine pics and titles */
      figure {
        // float:left;
        margin: 5.5vw;
        display: block;
      }

      figcaption {
        //
      }

  .symbol-pics {
    height: 8em;
    width: 8em;
  }

  #part2 {
    // background-color: lightgreen;
    width:90vw;
    left:5vw;
    height:50em;
    clear:both;
    position: relative;
    top: 6vw;
    opacity: 0;
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid black;
    border-radius: 9px;
  }

  #pain-list-intro{
    position: relative;
    text-align: center;
    // left;
    bottom: 3vw;
  }

  #pain-list {
    position: relative;
    // left: 14vw;
  }

  #pics-div {
    // clear:both;
    position: relative;
    margin-bottom: 1.5em;
    width:60vw;
    text-align: center;
    margin: auto;
  }


  .pain-pics {
    margin: auto;
    position: relative;
    float:left;
    height: 5em;
    width: 4em;
  }

  #part3 {
    clear:both;
    position: relative;
    top: 7vw;
    height: 12em;
    font-size: 0.9em;
    background-color: lightgreen;
    text-align: center;
    opacity: 0;
    border-radius: 15px;
    margin-bottom: 2vw;
    width:90vw;
    left: 5vw;
    margin-top: 2em;
  }

  #part3-p {
    position: relative;
    top: 2.2em;
  }

}




/* larger screens */
@media (min-width: 917px) {

  h2 {
    font-size: 2.9vw;
  }

  p, li {
    font-size: 1.4vw;
  }

  /* picture */
  #drpedro {
    border-radius: 5px;
    float:left;
    height: 19.25vw;
    width: 14.8vw;
  }

  #main-heading {
    text-align: center;
  }

  /* intro paragraph */
  #intro {
    width: 85vw;
    position: relative;
    left: 4.25vw;
    top: 1.5vw;
  }

  /*div for drpedro pic and intro paragraph */
  #part1 {
    height:0px;
    opacity: 0;
    border-bottom: 5px solid black;
    position: relative;
    top: 1vw;
  }

  #symbol-div {
    margin-top: 3vw;
    margin-left: 3vw;
  }

  /* types of chinese medicine pics and titles */
      figure {
        float:left;
        margin: 4.5vw;
      }

      figcaption {
        text-align: center;
      }

  .symbol-pics {
    height: 14.25vw;
    width: 14.25vw;
  }

  #part2 {
    // background-color: lightgreen;
    width:80vw;
    left:10vw;
    height:52.5vw;
    clear:both;
    position: relative;
    top: 6vw;
    opacity: 0;
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid black;
    border-radius: 9px;
  }

  #pain-list-intro{
    position: relative;
    text-align: center;
    left:2.3vw;
    bottom: 3vw;
  }

  #pain-list {
    position: relative;
    left: 14vw;
  }

  #pics-div {
    float:right;
    clear:both;
    position: relative;
    right:19vw;
    top: 6.3vw;
    margin-top: 5.4vw;
  }


  .pain-pics {
    position: relative;
    height: 8.8vw;
    width: 8.8vw;
  }

  #part3 {
    clear:both;
    position: relative;
    top: 7vw;
    height: 9.5vw;
    font-size: 2vw;
    background-color: lightgreen;
    text-align: center;
    opacity: 0;
    border-radius: 15px;
    margin-bottom: 2vw;
    width:90vw;
    left: 5vw;
    margin-top: 3.2vw;
  }

  #part3-p {
    position: relative;
    top: 2vw;
  }

  #contact-line1, #contact-line2 {
    display: block;
  }

}
